name: Platforms compatibility check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/Pure.Primitives.String.Operations

    strategy:
      fail-fast: false
      matrix:
        dotnet: [ '7.0', '8.0', '9.0', '10.0' ]
        runtime: [
          'linux-x64',
          'linux-arm64',
          'linux-arm',
          'win-x64',
          'win-arm64',
          'win-x86',
          'osx-x64',
          'osx-arm64'
        ]

    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET SDK ${{ matrix.dotnet }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Build NativeAOT ${{ matrix.runtime }} with .NET ${{ matrix.dotnet }}
        run: dotnet publish --framework net${{ matrix.dotnet }} --runtime ${{ matrix.runtime }} --self-contained --configuration Release -warnaserror
